#postLayout{
    display: grid;
    grid-template-columns: 40%;
    grid-auto-columns: minmax(min-content, max-content);
    grid-auto-rows: minmax(min-content, max-content);
    margin: 15px;
    justify-content: center;
}

.post{
    border-radius: 7px;
    border: 1px solid rgb(148, 148, 148); 
    margin: 10px; 
    padding: 7px; 
    background-color: rgb(255, 255, 255);  
    transition: 0.3s;
}

.post :is(h1,h2,h3,h4,h5) {
    margin: 0px 0px 0px 0px;
}

.post :is(h3) {
    text-align: justify;
}

.post:hover{
    background-color: rgb(247, 247, 247);
}

.profilePic{
    border-radius: 50%;
    float: left;
    width: 50px;
    height: 50px;
    margin: 5px;
}

button{
    background-color: rgb(78, 78, 78);
    border: 1px solid rgb(148, 148, 148);
    border-radius: 7px;
    padding: 5px;
    transition: 0.3s;
    color: white;
    margin: 0px 1em 0px 0px;
}

button:hover{
    background-color: rgb(107, 107, 107);
}

.button-on {
    background-color: rgb(78, 107, 78);
	border-radius: 14px;
}

/* 
 * experimental layout 
 */

body.experimental {
	margin: 0;
	display: flex;

	background: black;
	color: lightgrey;
}

#topContent {
	padding: 2em;
	width: 40%;
	overflow-y: scroll;
	overflow-x: hidden;
}

#bottomContent {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background: #202020;
}

@media (max-width: 800px) {
	body.experimental {
		flex-direction: column;
	}

	#topContent {
		width: 100%;
		height: 13vh;
	}

	#bottomContent {
		height: 80vh;
	}
}

#posts {
	width: 100%;
	max-width: 50em;
	padding: 50vh 0;
	overflow-y: scroll;
	overflow-x: hidden;
	/* snapping for measuring retention */
	scroll-snap-type: y proximity;
}

.post.experimental {
	background: #2c2c2c;
	color: white;
	margin: 1em;
	padding: 0px;
	border-radius: 5px;
}

.post.experimental > *{
	padding: .75em;
}

.post.experimental > .postHead {
	display: flex;
	flex-wrap: wrap;
}

.post.experimental > .postHead > img {
	border-radius: 50%;
	color: black;
	object-fit: contain;
	max-width: 10%;
	min-width: 32px;
	width: auto;
	height: auto;
}

.post.experimental > .postHead > h3 {
	padding: 0 0 0 0.5em;
    margin-top: auto;
    margin-bottom: auto;
}

.post.experimental > .postBody {
	/* snapping and height for measuring retention */
	scroll-snap-align: center;
	max-height: 80vh;
}

.post.experimental > .postBody > img{
	object-fit: contain;
	max-height: 300px;
	width: 100%;
}

.post.experimental > .postFooter {
    background-color: #353535;
    border-top: #474747 1px solid;
}

.commentBox{
    width: 100%;
    height: 5em;
    display: block;
    margin: .7em 0 0 0;
    padding: 0.5em;
    box-sizing: border-box;
    border:none;
    resize: none;
    outline: none;
    color: white;
    background-color: rgb(80, 80, 80);
    border-radius: 5px;
}

.comment{
    padding: .5em;
}
